<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal-locomotive-tracker-db.log">

  <extensions>
    <add assembly="NLog.Targets.Syslog" />
  </extensions>

  <variable name="defaultLayout" value="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${logger}|${message}" />
  <variable name="environment" value="${environment:ASPNETCORE_ENVIRONMENT}" />

  <targets>
    <target name="console" xsi:type="Console" layout="${var:defaultLayout}" />
    <target name="syslog" xsi:type="Syslog" layout="${var:defaultLayout}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Trace" final="true" />
    <logger name="*" minlevel="Warn" writeTo="syslog" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>